{{ define "main" }}
<article class="card my-3">
    <div class="punctuation-icon">
        {{ partial "stlgd-icon.html" (dict "size" "24" "class" "ms-1") }}
      </div>
    <div class="card-header">
        <div class="row text-center">
            <h1 id="title">{{ .Title }}</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="row ">

            <div class="col col-md-9 indented">
                {{ .Content }}

                
            </div>

            <div class="col-md-3 order-first order-md-last">
                {{ partial "toc.html" . }}
            </div>
        </div>

    </div>
</article>
{{ end }}