$color-yellow:  #fed721;
$color-orange:  #e8542d;
$color-purple:  #8a27b3;
$color-blue:    #142ca7;

$primary:                       $color-yellow;
$primary-text-emphasis-dark:    $primary;
$link-color-dark:               $primary;

