$color-yellow:  #F5E92F;
$color-orange:  #E48723;
$color-purple:  #D131D3;
$color-blue:    #142ca7;

$body-secondary-color-dark: $color-purple;
$body-secondary-bg-dark: $color-blue;

$primary: $color-yellow;
$link-color-dark: $color-yellow;
$link-hover-color-dark: $color-orange;

$headings-color: $color-purple;
$headings-color-dark: $color-purple;

$border-width: 3px;
$border-widths: (
    1: 3px,
    2: 4px,
    3: 5px,
    4: 6px,
    5: 7px
);
$border-radius: 0.5em;
$border-style: solid;
$border-color-dark: $color-purple;
$border-color: $color-purple;

$border-color-translucent: rgba($color-purple, .175);

$card-border-width: $border-width;
$card-border-color: $border-color;
$card-border-radius: $border-radius;
$card-cap-padding-y: 1em;
$card-cap-padding-x: 2em;
$card-bg: rgba($color-blue, .2);
$card-cap-bg: rgba($color-blue, .2);

$dropdown-border-width: $border-width;
$dropdown-border-color: $border-color;
$dropdown-border-radius: $border-radius;
$dropdown-bg: black ;
$dropdown-padding-x: 1em;
$dropdown-padding-y: 0;
$dropdown-min-width: 12vw;



$font-size-base: 1.2rem;
$input-btn-font-size: 1.25rem;
$btn-font-weight: 600;

$nav-link-font-size:                1.125rem;
$nav-link-font-weight:              bold;
$nav-link-color:                   $link-color-dark;
$nav-link-hover-color:             $link-hover-color-dark;
