
$color-black: #39363a;
$color-grey: #67585b;
$color-white: #fbe9c1;

$color-red: #dc6b56;
$color-yellow: #e1a854;
$color-green: #6b8d5f;
$color-blue: #4eb1aa;
$color-purple: #9c7fa6;

$body-bg: rgba(0, 0, 0, .33);
$body-color: $color-white;


$colors-array: (
    "red" 1 $color-red,
    "yellow" 2 $color-yellow,
    "green" 3 $color-green,
    "blue" 4 $color-blue,
    "purple" 5 $color-purple
);


