<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ block "head" . }}
    {{ partial "head.html" . }}
    {{ end }}
</head>

<body>
    <div id="core-container" class="container">

        <header class="text-center mx-auto">

            <a class=" text-body-emphasis text-decoration-none" href="{{ .Site.BaseURL }}">
                {{ with resources.Get "images/stlgd-logo.svg" }}
                <img src="{{ .RelPermalink }}" alt="STL Gamedev Logo" id="title-logo" />
                {{ end }}
            </a>


        </header>

        <div class="nav-scroller " id="top-nav">
            <nav class="nav nav-pills  justify-content-evenly  d-flex flex-wrap">
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </nav>
        </div>

        {{ block "header" . }}{{ end }}

        <main class=" mh-100 mx-3">
            {{ block "middle" . }}{{ end }}
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="footer pt-5  ">
            {{ block "footer" . }}
            {{ partial "footer.html" (dict "menuID" "main" "page" .) }}
            {{ end }}
        </footer>
    </div>

</body>

</html>