{{ define "header" }}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-6 ">
        <div class="">

            {{/* <i class="i corner-icon ci-top-left fa-sharp-duotone fa-solid fa-game-console-handheld fa-6x "></i>
            */}}

            <div>
                <script type="text/javascript">
                    const imageURLs = [ 
                        
                        {{ range resources.Match "images/photos/*.jpg" }}"{{ .RelPermalink }}",{{ end }}
                    
                    ];
                    function getImageTag() {
                        var img = '<img src=\"';
                        var randomIndex = Math.floor(Math.random() * imageURLs.length);
                        img += imageURLs[randomIndex];
                        img += '\" alt=\"A Random STL Game Dev Photo\" class="img-fluid  "  />';
                        return img;
                    }
                    document.write(getImageTag());
                </script>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="card ">
            <div class="card-header">
                <h1 class="font-weight-light text-center">Welcome to <strong>STL Game Dev</strong>!</h1>
                <p class="lead text-center">We are making a Home for Game Developers!</p>
            </div>
            <div class="card-body">
                <p>We are a community run organization dedicated
                    to providing social, professional, and educational
                    events,
                    resources, and support for game developers in and around the St Louis region.</p>
                <p class="text-center h4 font-weight-light">Let's make something great together!</p>
            </div>
            <div class="card-footer text-center">
                <a class=" btn btn-lg " href="about">Learn more About us!</a>
            </div>
            {{/* <i class="i corner-icon ci-bottom-right fa-sharp-duotone fa-solid  fa-block-question fa-6x "></i> */}}
        </div>
    </div>
</div>
{{ end }}

{{ define "middle" }}
<section class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        Something Here
    </div>
</section>
{{ end }}

{{ define "main" }}
<section class="row gx-4 gx-lg-5">
    <div class="col-md-8 mb-5 ">
        <div class="card   mb-5">
            {{ with (index (where site.RegularPages "Type" "news").ByDate.Reverse 0) }}
            <article>
                <div class="card-header">
                    <h4 class="card-title">Latest News Article</h4>
                    <div class="d-flex flex-row align-items-center">
                        <div class="flex-grow-1">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        </div>
                        <div class="post-meta">
                            {{ .Date.Format "Mon, Jan 2, 2006" }}
                        </div>
                        <div class="fa-2x ">
                            <span class="fa-layers fa-fw">
                                <i class="i fa-sharp-duotone fa-solid fa-calendar"></i>
                                <span class="fa-layers-text fa-inverse --fa-right" data-fa-transform="shrink-8 down-3"
                                    style="font-weight:900">{{ .Date.Format "2" }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ partial "authors.html" (dict "taxonomy" "authors" "page" .) }}
                        </div>
                        <div class="col-6 text-end">
                            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ .Summary }}
                </div>
                {{ if .Truncated }}
                <div class="card-footer text-end ">
                    <a class=" btn  " href="{{ .RelPermalink }}">Read More</a>
                </div>
                {{ end }}

            </article>
            {{ end }}
            {{/* <i class="i corner-icon ci-bottom-left fa-sharp-duotone fa-solid fa-alien-8bit fa-6x "></i> */}}
        </div>
        {{ with (index (where site.RegularPages "Type" "blog").ByDate.Reverse 0) }}
        <div class="card mb-5">
            <article>
                <div class="card-header">
                    <h4 class="card-title">Latest News Article</h4>
                    <div class="d-flex flex-row align-items-center">
                        <div class="flex-grow-1">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        </div>
                        <div class="post-meta">
                            {{ .Date.Format "Mon, Jan 2, 2006" }}
                        </div>
                        <div class="fa-2x ">
                            <span class="fa-layers fa-fw">
                                <i class="i fa-sharp-duotone fa-solid fa-calendar"></i>
                                <span class="fa-layers-text fa-inverse --fa-right" data-fa-transform="shrink-8 down-3"
                                    style="font-weight:900">{{ .Date.Format "2" }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ partial "authors.html" (dict "taxonomy" "authors" "page" .) }}
                        </div>
                        <div class="col-6 text-end">
                            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ .Summary }}
                </div>
                {{ if .Truncated }}
                <div class="card-footer text-end ">
                    <a class=" btn  " href="{{ .RelPermalink }}">Read More</a>
                </div>
                {{ end }}
            </article>
        </div>
        {{ end }}
    </div>

    <div class="col-md-4 mb-5 ">
        <div class="card mb-5 ">
            <div class="card-header">
                <h4 class="card-title">Next Event</h4>
            </div>
            <div class="card-body">
                {{ partial "next-event.html" . }}
            </div>
            <div class="card-footer"><a class="btn btn-sm" href="events">More Events</a></div>
        </div>
        <div class="card mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Connect with our Community!</p>
                <p class="card-text">Join the conversation over on our Discord!</p>

                <div><a class="btn py-3 px-6 btn-xl btn-primary" href="https://discord.com/invite/mTMKpre/"><i
                            class="fa-brands fa-discord"></i> Join</a></div>
            </div>
        </div>

    </div>
</section>
{{ end }}