{{ define "main" }}

<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-6 ">
        <script type="text/javascript">
            var imageURLs = [
                {{ range resources.Match "images/photos/*.jpg" }}

            "{{ .RelPermalink }}",

                {{ end -}}
            ];
            function getImageTag() {
                var img = '<img src=\"';
                var randomIndex = Math.floor(Math.random() * imageURLs.length);
                img += imageURLs[randomIndex];
                img += '\" alt=\"A Random STL Game Dev Photo\" class="img-fluid basic-border basic-border-blue "  />';
                return img;
            }
            document.write(getImageTag());
        </script>
    </div>
    <div class="col-lg-6">

        <div class="card bg-blur basic-border basic-border-purple">


            <div class="card-header">
                <h1 class="font-weight-light text-center">Welcome to <strong>STL Game Dev</strong>!</h1>
                <p class="lead text-center">We are making a Home for Game Developers!</p>
            </div>
            <div class="card-body">

                <p>We are a community run organization dedicated to providing social, professional, and educational
                    events,
                    resources, and support for game developers in and around the St Louis region.</p>
                <p class="text-center h4 font-weight-light">Let's make something great together!</p>

            </div>
            <div class="card-footer text-center">
                <a class="d-flex justify-content-center btn btn-blue " href="about">Learn more About us!</a>
            </div>
        </div>
    </div>
</div>

<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        Something Here
    </div>
</div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-8 mb-5 colored-list">

        <div class="card  bg-blur basic-border mb-5">

            {{ with (index (where site.RegularPages "Type" "news").ByDate.Reverse 0) }}
            <article>
                <div class="card-header">
                    <h4 class="card-title">Latest News Article</h4>
                    <div class="row">
                        <div class="col-9">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        </div>
                        <div class="col-3 text-end">
                            <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ partial "authors.html" (dict "taxonomy" "authors" "page" .) }}
                        </div>
                        <div class="col-6 text-end">
                            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ .Summary }}
                </div>
                {{ if .Truncated }}
                <div class="card-footer text-end ">
                    <a class=" btn  " href="{{ .RelPermalink }}">Read More</a>
                </div>
                {{ end }}
            </article>
            {{ end }}

        </div>

        <div class="card  bg-blur basic-border mb-5">
            <div class="card-body">
                <h2 class="card-title">Another thing here</h2>
                Something else can go here...
            </div>
            <div class="card-footer text-end "><a class=" btn " href="#!">Read More</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5 colored-list-rev">
        <div class="card basic-border  mb-5 bg-blur">
            <div class="card-body">
                <h2 class="card-title">Next Event</h2>
                <p class="card-text">
                    [[ This will show the next event and a link to RSVP ]]
                </p>
            </div>
            <div class="card-footer"><a class="btn  btn-sm" href="#!">More Info</a></div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Connect with our Community!</p>
                <p class="card-text">Join the conversation over on our Discord!</p>

                <div><a class="btn  btn-xl" href="https://discord.com/invite/mTMKpre/"><i
                            class="fa-brands fa-discord"></i> Join</a></div>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
        <div class="card bg-blur basic-border mb-5">
            <div class="card-body text-center">
                <p class="card-title h4">Another section!?</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam minus
                    accusantium
                    molestiae deleniti sequi atque ea consectetur nisi, esse ducimus ipsam culpa incidunt. At animi
                    quaerat
                    ut
                    earum harum!</p>
            </div>
        </div>
    </div>
</div>
{{ end }}