{{ define "header" }}

<div class="m-0 row p-0">
    <div class="col-12 col-header text-center simple-bar p-4 ">
        <h1>Welcome to the St. Louis game developer community!</h1>
    </div>
    <div class="col-12 text-center " id="home-header" style="padding-top: 30vh;">
        <div class="mb-2 mx-4 p-3 " style="backdrop-filter: brightness(30%) blur(5px);">
            <p class=" text-white lead ">We are a community run organization dedicated
                to providing social, professional, and educational
                events,
                resources, and support for game developers in and around the St. Louis region.
            </p>
            <p class=" fw-bold fs-4">Let's make something great together!</p>
            <a class="text-center btn btn-lg btn-primary rounded " href="about">Learn more</a>
        </div>
    </div>
</div>

<script>
    const imageURLs = [{{ range resources.Match "images/photos/*.jpg" }}"{{ .RelPermalink }}", {{ end }}];

    $(document).ready(function () {
        var randomIndex = Math.floor(Math.random() * imageURLs.length);

        $('#home-header').css('background-image', 'url(' + imageURLs[randomIndex] + ')');
    });
</script>
{{ end }}

{{ define "middle" }}
<div class="simple-bar rounded my-4 p-3 border d-flex justify-content-evenly ">

    <a href="https://www.meetup.com/st-louis-game-developers/" target="_blank"><i
            class="i fa-2x fa-brands fa-meetup"></i></a>
    <a href="https://discord.com/invite/mTMKpre/" target="_blank"><i class="i fa-2x fa-brands fa-discord"></i></a>
    <a href="https://www.facebook.com/groups/stlgamedev" target="_blank"><i
            class="i fa-2x fa-brands fa-facebook"></i></a>
    <a href="https://x.com/stlgamedev" target="_blank"><i class="i fa-2x  fa-brands fa-x-twitter"></i></a>
    <a href="https://bsky.app/profile/stlgame.dev" target="_blank"><i class="i fa-2x  fa-brands fa-bluesky"></i></a>
    <a href="https://www.instagram.com/stlgamedev" target="_blank"><i class="i fa-2x  fa-brands fa-instagram"></i></a>
    <a href="https://www.youtube.com/@stlgamedeveloperco-op3742" target="_blank"><i
            class="i fa-2x  fa-brands fa-youtube"></i></a>

</div>
{{ end }}

{{ define "main" }}
<section class="row gx-3 mt-3">
    <div class="col-12 col-xl-8 mb-3  vstack gap-3">

        {{ with (index (where site.RegularPages "Type" "news").ByDate.Reverse 0) }}
        <article class="card ">

            <div class="card-header">

                <h4 class="card-title">Latest News Article</h4>
                <hr />

                {{ partial "article-meta.html" . }}

            </div>
            
            <div class="card-body ">
            
                {{- if .Params.images }}
                {{- with index .Params.images 0 }}
                {{ $image := resources.Get (printf "images/news/%s" . ) }}
                {{ $image = $image.Resize "200x" }}
                <div>
                    <img src="{{ $image.RelPermalink }}" alt="Article Image" style="float:right;" class=" m-2">
                </div>
                {{ end }}
                {{ end -}}
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
            <div class="card-footer text-end ">
                <a class=" btn btn-primary rounded" href="{{ .RelPermalink }}">Read More</a>
            </div>
            {{ end }}

        </article>
        {{ end }}
        {{/* <i class="i corner-icon ci-bottom-left fa-sharp-duotone fa-solid fa-alien-8bit fa-6x "></i> */}}

        {{ with (index (where site.RegularPages "Type" "blog").ByDate.Reverse 0) }}

        <article class="card">
            <div class="card-header">
                <h4 class="card-title">Latest News Article</h4>
                <hr />
                {{ partial "article-meta.html" . }}
            </div>
            <div class="card-body">
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
            <div class="card-footer text-end ">
                <a class=" btn btn-primary rounded" href="{{ .RelPermalink }}">Read More</a>
            </div>
            {{ end }}
        </article>

        {{ end }}
    </div>

    <div class="col-4 vstack gap-3">
        <div class="d-flex flex-row flex-wrap gap-3">

            <div class="card flex-fill">
                <div class="card-header">
                    <h4 class="card-title">Next Event</h4>
                </div>
                <div class="card-body">
                    {{ partial "next-event.html" . }}
                </div>
                <div class="card-footer justify-content-end d-flex"><a class="btn btn-primary btn-sm rounded "
                        href="events">More
                        Events</a>
                </div>
            </div>

            <div class="card flex-fill ">
                <div class="card-body text-center d-flex h-100 flex-column justify-content-center ">

                    <p class="card-title h4">Connect with our Community!</p>

                    <p class="card-text">Join the conversation over on our Discord!</p>

                    <a class="btn btn-primary rounded fs-3" href="https://discord.com/invite/mTMKpre/"><i
                            class="fa-brands fa-discord pe-1"></i>
                        Join</a>

                </div>
            </div>

            {{ partial "latest-roundup.html" . }}

        </div>
    </div>
</section>
{{ end }}