{{ define "main" }}

<article class="card my-3">

  <div class="card-header">

    {{ partial "article-meta.html" . }}

  </div>

  <div class="card-body ">
    <div class="punctuation-icon">
      {{ partial "stlgd-icon.html" (dict "size" "24" "class" "ms-1") }}
    </div>
    <div class="row ">
      <div class="col col-md-9 indented">
        {{- with index .Params.images 0 }}
        {{ $image := resources.Get (printf "images/news/%s" . ) }}
        <img src="{{ $image.RelPermalink }}" class="img-fluid rounded p-3" alt="Article Image">
        {{ end }}
        {{ .Content }}
        
      </div>
      <div class="col-md-3 order-first order-md-last">
        {{ partial "toc.html" . }}
      </div>
    </div>
    
  </div>

</article>


{{ end }}