
{{ $bg := resources.Get "images/bg.png" }}
{{ $bgE := resources.Get "images/bg-edge.png" }}
{{ $bgER := resources.Get "images/bg-edge-r.png" }}

body {
    background-image: url('{{ $bgE.RelPermalink }}'), url('{{ $bgER.RelPermalink }}'), url('{{ $bg.RelPermalink }}');
    background-position: left top, right top, left top;
    background-repeat: repeat-y, repeat-y, repeat;
}

#core-container {
    background-color: rgba(0,0,0,.66);
    padding:0;
    margin:auto;

    border-left :.25rem solid $color-purple;

    border-right :.25rem solid $color-purple;
    
}


#top-nav {

    &.nav-scroller {
        background-color: black;
        border-top: 1px solid $color-blue;
        border-bottom: 2em solid transparent;
        border-image: linear-gradient(0.5Turn, #8a27b3, rgba(138, 39, 179, .33), rgba(138, 39, 179, 0));
        border-image-slice: 100;
        margin-bottom: 2em;
        padding: .5em;

    }

    .nav-item {
        font-weight: bold;
        font-size: 2vw;
        margin: 0.5em 0;

    
        .nav-link {
                border-width: medium;
                border-style: solid;
                border-radius: 100px;
                border-color: transparent;

            &:hover {
                border-color: $primary;
            }

            &.active {
                
                background-color: $primary;
                color: $color-blue;
                
                border-color: transparent;

            }

     }
    }


}

#home-header {
    background-size: cover; background-repeat: no-repeat; background-position: center center;
    border: .25rem solid $color-purple;
}

.bg-blur-sm {
    backdrop-filter: blur(5px);
}
.bg-blur {
    backdrop-filter: blur(10px);
}
.bg-blur-lg {
    backdrop-filter: blur(15px);
}


@media (min-width: 400px) {
    ul.event-list li {
        flex-basis: calc(50% - 0.5vw);
    }
}

@media (min-width: 650px) {
    ul.event-list li {
        flex-basis: calc(33.33% - 3vw);
    }
}

@media (min-width: 900px) {
    ul.event-list li {
        flex-basis: calc(25% - 3.5vw);
    }
}

@media (min-width: 1100px) {
    ul.event-list li {
        flex-basis: calc(20% - 4vw);
    }
}

ul.event-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        min-height: 20vh ;
        min-width: 30vh;
        max-width: 30vh;
        margin:1rem;
    }
}