<div class="card ">

    <div class="card-header">
        <h4 class="card-title">
            Latest Roundup
        </h4>
    </div>

    <div class="card-body">

        <div class="text-center">
            <img width="120" height="120" {{ with resources.Get "images/stlgdru-logo.svg" }}src="{{ .RelPermalink }}" {{ end
                }} /><br />
            <div id="roundup-spinner" class="spinner-border my-4" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>
                <small>The St Louis Game Developer RoundUp is a periodic aggregation of news relevant to the St Louis Game
                    Development
                    Community.</small>
            </p>
            </div>
            
            </div>
            
            <div class="card-footer justify-content-end d-flex">
                <a class="btn rounded-pill btn-primary btn-sm" href="https://roundup.stlgame.dev">See all of our Past
                    RoundUps</a>
            </div>
</div>

<script>
    async function getLatestRoundUp() {

        const url = 'https://roundup.stlgame.dev/index.json'

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                let item = data[0];
                let pubDate = new Date(item.created);
                pubDate = pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
                let issue = item.no;
                const linkString = `<h4 ><a href="${item.permalink}">RoundUp № ${issue}</a></h4><p class="">${pubDate}</p><img src="https://raw.githubusercontent.com/AxolStudio/STLGameDevRoundUp/main/screenshots/issue-${issue}.png" class="img-fluid" />`;
                $('#roundup-spinner').hide('fast', function () {
                    $(this).replaceWith(linkString).show('fast');
                });
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    $(document).ready(function () {
        getLatestRoundUp();
    });
</script>