{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
{{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}

{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<span class="nav-item" {{ if .Params.disabled }}data-bs-toggle="tooltip" data-bs-title="Coming Soon!" data-bs-placement="bottom" {{ end }} >
    <a href=" {{ .URL }}" class="nav-link {{ if .Params.disabled -}}disabled" {{ else }}{{ if $page.IsMenuCurrent .Menu . }}active" aria-current="page{{ else if $page.HasMenuCurrent .Menu . }} ancestor" aria-current="true{{ end }}" {{ end }}>{{ $name }}</a>
</span>
{{- end }}
{{- end }}