{{ $itemName := .context}}
{{ $itemIndex := .index}}
{{ $item := index site.Data.showcase $itemName }}

{{ if $item }}
{{ with $item }}
        {{ $img := resources.Get (printf "images/directory/%s.png" $itemName ) }}
        {{ if $img }}
{{ $img := $img.Fit "320x180" }}
{{/* 16:9 */}}
{{ $imgLink := $img.RelPermalink }}
<div class="carousel-item {{ .Name }} {{ if eq $itemIndex 0 }} active {{ end }}">
    <img src="{{ $imgLink }}" class="d-block w-100" />
    <h3 class="">{{ .Name }} </h3>
    <p class=" ">{{ .Description }}</p>
</div>

{{ end }}
{{ end }}
{{ end }}