{{ $itemName := . }}
{{ $item := index site.Data.showcase $itemName }}
{{ if $item }}
{{ with $item }}
<div class="d-flex w-100 flex-md-row flex-column p-2 border rounded ">

    {{ $img := resources.Get (printf "images/directory/%s.png" $itemName ) }}
    {{ if $img }}
    <div class="flex-shrink-0">
        {{ $img := $img.Fit "320x180" }}
        {{/* 16:9 */}}
        {{ $imgLink := $img.RelPermalink }}
        <img src="{{ $imgLink }}" class="rounded" alt=" Header Image for {{ .Name }}">
        </div>
    {{ end }}
    <div class="flex-grow-1 ms-3">
    
        <h3 class="">{{ .Name }}</h3>
    
        <p class=" ">{{ .Description }}</p>
    
        <div class="d-flex flex-row hstack gap-3 border-top pt-2">{{ range .Links }}
            <a href="{{ .URL }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="{{ .Tooltip }}"><i
                    class="i {{ .Icon }} fa-2x"></i></a>
            {{ end }}
        </div>

    </div>
    </div>
{{ end }}
{{ end }}
{{/* */}}