{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  {{- $len := len . -}}
  <p class="">
    {{ if (eq $label "Tags") }}
    <i class="i fa-sharp-duotone fa-solid fa-tags me-1"></i>
    {{ else }}
      {{ $label }}:
    {{ end }}{{- range $index, $element := . -}} <a href="{{ $element.RelPermalink }}">{{ $element.LinkTitle }}</a>{{- if ne
    (add $index 1) $len -}}, {{ end -}}
    {{- end -}}
    </p>
{{- end }}
