{{ define "header" }}
<div class="row mt-3">

    {{/* <i class="i corner-icon ci-top-right fa-sharp-duotone fa-solid fa-address-book fa-6x "></i> */}}

    <h1 class="font-weight-light text-center">Developer Directory</h1>
    <p class="lead text-center">This is a list of developers in our community!</p>
    <p class="text-center">If you would like to add your own project(s) to this list, follow the directions on our website's <a href="https://github.com/AxolStudio/STLGameDevSite" target="_blank"><i class="i fa-brands fa-github"></i> repository!</a></p>

</div>
{{ end }}

{{ define "main" -}}
{{ $directory := .Site.Data.directory }}
{{ $directory := sort $directory "Name" "asc" }}
{{- range $directoryItem := $directory }}
{{- with $directoryItem }}
<section class="d-flex flex-column justify-content-around flex-wrap">
    <div class="bg-blur card my-3">
        <div class="card-header">
            <h2>{{ if $directoryItem.Logo }}
                {{ $logo := resources.Get (printf "images/directory/%s" $directoryItem.Logo ) }}
                {{ $logo := $logo.Fill "60x60" }}
                {{ $logoLink := $logo.RelPermalink }}
                <img src="{{ $logoLink }}" class="rounded-circle me-2" />{{ end }}{{ $directoryItem.Name }}
            </h2>
        </div>
        <div class="card-body ">
            <dl>
                {{ if $directoryItem.Website }}
                <dd class="text-secondary text-small">Website: <a href="{{ $directoryItem.Website }}" target="_blank">{{
                        $directoryItem.Website }}</a></dd>
                {{ end }}
                {{ if $directoryItem.Description}}
                <dd>{{ $directoryItem.Description }}</dd>
                {{ end}}
                </dl>
                <h3>Projects</h3>
                <div class="vstack gap-3">
                {{- range $directoryItem.Projects }}
                {{ partial "showcase.html" . }}
                {{ end -}}
                </div>
                </div>
                </div>
                </section>
{{- end -}}
{{- end -}}
{{- end -}}